pylib @ git+https://github.com/room77/py77.git@70280110ec342a6f6db1c102e96756fcc3c3c01b
python-slugify
unidecode==1.1.1
python-dateutil>=2.8.1
related>=0.7.0
attrs==21.4.0
six>=1.9.0
future==0.18.3
contextlib2
pytest
hypothesis
